datasheets/r19e_ecu.pdf
datasheets/informal_introduction_to_motor_testing.pdf
*.raw
*.log
*.zip
*.htm
*.lck
dyno-side/kicad/dyno-side/.history/
/ecu-side/alitum/__Previews
/dyno-side/alitum/__Previews
